
## ==================================================================================================== ##

References/
# See: Licensing restrictions. You have to find these yourself.

Sources/
# Various things that are pre-VS-design-time (notably graphics and icons)
