<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="cef.redist.x64" version="109.1.11" targetFramework="net472" />
  <package id="cef.redist.x86" version="109.1.11" targetFramework="net472" />
  <package id="CefSharp.Common" version="109.1.110" targetFramework="net472" />
  <package id="CefSharp.OffScreen" version="109.1.110" targetFramework="net472" />
  <package id="CurlThin-tfusion" version="1.0.1" targetFramework="net472" />
  <package id="CurlThin-tfusion.Native" version="1.0.1" targetFramework="net472" />
  <package id="HtmlAgilityPack" version="1.11.60" targetFramework="net472" />
  <package id="Microsoft.IO.Redist" version="4.7.1" targetFramework="net472" />
  <package id="System.Buffers" version="4.5.1" targetFramework="net472" />
  <package id="System.Memory" version="4.5.4" targetFramework="net472" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net472" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.5.3" targetFramework="net472" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net472" />
</packages>